## We call pandas by using :

In [1]:
import pandas as pd

#### pandas gives us values with index parameter, which means indexs are separate component

In [2]:
pd.Series([23,423,43,2])

0     23
1    423
2     43
3      2
dtype: int64

#### in order to see type & basic information

In [4]:
series = pd.Series([43,32,56,77,3])
series.dtype

dtype('int64')

In [15]:
type(series)

pandas.core.series.Series

In [6]:
series.keys

<bound method Series.keys of 0    43
1    32
2    56
3    77
4     3
dtype: int64>

In [7]:
list(series.items())

[(0, 43), (1, 32), (2, 56), (3, 77), (4, 3)]

In [18]:
series.axes

[RangeIndex(start=0, stop=5, step=1)]

In [20]:
series.ndim # how many dimension

1

In [22]:
series.size

5

In [28]:
series.array

<PandasArray>
[43, 32, 56, 77, 3]
Length: 5, dtype: int64

In [29]:
series.values

array([43, 32, 56, 77,  3], dtype=int64)

#### we can change index parameters by using :

In [32]:
pd.Series([32,56,45,78], index = ["a","b","c","d"])

a    32
b    56
c    45
d    78
dtype: int64

In [10]:
seri1 = pd.Series([2,3,4,5], index = ["reg","loj","cart","rf"])
seri1

reg     2
loj     3
cart    4
rf      5
dtype: int64

In [12]:
list(seri1.items())

[('reg', 2), ('loj', 3), ('cart', 4), ('rf', 5)]

In [13]:
"reg" in seri1

True

In [15]:
"fog" in seri1

False

#### we can create dictionary :

In [35]:
dic = pd.Series({"ten":10,"five":5, "seven":7})
dic

ten      10
five      5
seven     7
dtype: int64

In [39]:
dic = {"ten":10,"five":5, "seven":7}

seri = pd.Series(dic)
seri

ten      10
five      5
seven     7
dtype: int64

#### we can concatenate data like : & also concat can be useable only for DataFrame and Series

In [47]:
pd.concat([seri, seri,])

ten      10
five      5
seven     7
ten      10
five      5
seven     7
dtype: int64

#### Fancy elements & Change

In [17]:
seri1[["rf","reg"]]

rf     5
reg    2
dtype: int64

In [18]:
seri1["reg"] = 130

In [20]:
seri1

reg     130
loj       3
cart      4
rf        5
dtype: int64